@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Huninn&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Plaster&family=Ranchers&display=swap');
@import 'tailwindcss';

@theme {
     --font-chonburi: 'Chonburi', serif;
     --font-plaster: 'Plaster', system-ui;
     --font-hunnin: 'Huninn', sans-serif;
     --font-ranchers: 'Ranchers', sans-serif;
     --font-ibm: 'IBM Plex Sans', sans-serif;
     --color-esmerald: #3abcb6;
     --color-white-default: #fff;
     --color-black-default: #151515;
     --shadow-offer: -20px 20px 100px #3abcb6;
}

.padding-h-content {
     @apply md:px-25 lg:px-30;
}
.padding-v-content {
     @apply md:py-10 lg:py-20;
}
.padding-v-mobile {
     @apply max-lg:py-10;
}
.padding-h-mobile {
     @apply max-lg:px-10;
}
